body {
    font-family: 'Arial', sans-serif;
    background-image: url('images/0.jpg');
    background-size:cover;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: right;             text-decoration: rtl;
}

.details{
    font-size: 30px;
    word-spacing: 300px;
    line-height: 40px;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 100px; 
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 18px;
    margin: 20px;
    border-radius: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 8px;
}

table th, table td {
    border: 3px solid #ccc;
    padding: 10px;
    text-align: center; 
}

table th {
    background-color: #333;
    color: white;
}

section {
    margin-bottom: 5px;
}

section h2 {
    background-color: #333;
    color: white;
    font-size: 23px;
    padding: 3px;
    border-radius: 10px; 
}

section p, section a {
    font-size: 15px;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 0px 0px;
    position:-webkit-sticky;
    width: 100%;
    bottom: 0;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #555;
}

#bt{
    position:relative; right: 620px; 
}

.details .photo{
    display: flex;
}

.details .photo .photo_1 img{
    width: 150px;
    height: 150px;
    position:relative; left: 950px; top: 10px;
    background-size:cover;
}

.details .photo .photo_2 img{
    width: 150px;
    height: 150px;
    position:relative; left: 380px; top: 10px;
    background-size:cover;
}

.details .photo .photo_3 img{
    width: 150px;
    height: 150px;
    position:relative; right: 200px; top: 10px;
    background-size:cover;
}

#application-form {
    display: none;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
}

#application-form label {
    text-align: right;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#application-form input {
    text-decoration: rtl;
    text-align: right;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#cap{
    position:relative; left: 650px; top: 45px;
}

#captcha-container{
    position:relative; left: 450px; top: 30px;
}

#application-form #captcha{
    text-align: center;
    width: 100px;
    position:relative; left: 520px; 
}

#application-form button {
    width: 100%;
}
